/*  NAVBAR  */

header {
    padding: 1.7rem 0;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-content: center;
}

@media(max-width:600px){
    
    header {
        padding: 1.7rem 0;
        display: flex;
        justify-content: space-around;
        background-color: transparent;
        align-content: center;
        margin-top:-10px;
        margin-left:65px;
    }
}

.logo a {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}

@media(max-width:600px){
    
    .logo a {
        font-size: 1.2rem;
        font-weight: 800;
        color: var(--primary-color);
        text-decoration: none;
    
    }
}

nav {
    z-index: 1;
    
}

nav ul{
    
    list-style: none;
    display: flex;
    align-content: space-around;
    

}

@media(max-width:600px){
    
    nav ul{
    
        list-style: none;
        display: flex;
        justify-content: center;
        margin-left:580px;
        margin-top:-20px;
    
        
    
    }
}

.a{
    color: #33383C;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    padding: 0.4rem 1.3rem;
}

@media(max-width:600px){
    
    .a{

        
        color: #33383C;
        text-decoration: none;
        font-size: .97rem;
        font-weight: 600;
        padding: 0.4rem 1.3rem;

    }
}

#click {
    display: none;
}

.menu {
    display: none;
}
nav .a {
    position: relative;
}


  .a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 2.5rem);
    height: 3px;
    background-color: var(--primary-color);
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform .3s ease;
}

 .a:hover::before {
    transform: scale(1, 1);
}